@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 text-gray-100 p-4;
  font-family: 'Inter', sans-serif;
}

img {
  @apply mx-auto;
}

@keyframes scroll-diagonal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300px 300px; /* exakt gleich wie backgroundSize */
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
}

.floating-logo {
  position: absolute;
  width: 60px;
  opacity: 0.05;
  animation: float 6s ease-in-out infinite;
  pointer-events: none;
}
