@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 text-gray-100 p-4;
  font-family: 'Inter', sans-serif;
}

img {
  @apply mx-auto;
}

@keyframes scroll-diagonal {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 100px;
  }
}

